<div class='right'>
  {{#link-to "users.show.intentions.edit" model class="btn"}}Edit{{/link-to}}
  <button small {{action "deleteIntention"}}>Delete</button>
</div>
<h5>{{moment-format model.startDate 'Do MMM'}} - {{moment-format model.endDate 'Do MMM'}}</h5>
<h3>{{model.name}}</h3>

<section>
  <h5>Participants</h5>
</section>

<section>
  <h5>Emergency contact</h5>
  {{model.emergencyName}}
  {{model.emergencyNumber}}
</section>

<section>
  <h5>Due back (latest)</h5>
</section>

<table>
  <tbody>
    {{#each model.bookings as |booking|}}
      {{intentions/show/booking-row booking=booking}}
    {{/each}}
  </tbody>
</table>
